

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*==============================Navigation bar CSS=========================================*/

body>header{
    height: 40px;
    position: sticky;

    /*padding: 20px 0;*/
    align-items: center;
    justify-content: space-between;
    display: flex;

    background: #494141;
}

header>nav>ul{
    position: absolute;
    right: 0;
    top: 8px;


}

header>nav>ul>li{
    list-style: none;
    display: inline-block;

    margin: 0px 20px;

    position: relative;
}

header>nav>ul>li>a{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;

    font-size: 14px;
}

header>nav>ul>li::after{
    content: '';

    height: 3px;
    width: 0%;
    background: #ff0000;
    position: absolute;
    left: 0;
    bottom: -6px;

    transition: 0.5s;
}

header>nav>ul>li:hover::after{
    width: 100%;
}

header>nav>img{
    width: 75px;
    float: left;
}

/*====================Ending=========================================================*/

/*==============================Home/Main Page CSS=========================================*/

main>section:nth-child(1){
    width: 100%;
    height: 100vh;

    background-image: linear-gradient(rgba(0,0,0,-0.25),rgba(0,0,0,0.75)),
    url("../images/Home_Page_Background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    position: relative;
    /*display: flex;*/

}

main>section:nth-child(1)>section:nth-child(1){
    /*border: 2px solid white;*/

    width: 80%;
    position: absolute;

    top: 40%;
    left: 15%;

    transform: translateY(-50%);

    color: white;
}

main>section:nth-child(1)>section:nth-child(1)>h3{
    /*margin: 3px;*/
    font-size: 30px;
    font-family: "Book Antiqua";
}

main>section:nth-child(1)>section:nth-child(1)>h2{
    /*margin: 1px;*/
    font-size: 40px;
    font-family: "New Century Schoolbook";
}

.ingredient{
    color: red
}

main>section:nth-child(1)>section>div>button{
    position: relative;
    width: 150px;
    padding: 16px 0px;
    border-radius: 10px;
    text-align: center;
    margin: 46px 18px;
    font-weight: bold;
    border: 2px solid #ff0000;
    background: transparent;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    overflow: hidden;
    left: 5px;
    font-size: 13px;
}

.span{

    height: 100%;
    width: 0%;

    border-radius: 10px;
    position: absolute;

    bottom: 0;
    left: 0;


    background: #cd1717;
    z-index: -1;
    transition: 1s;

}

main>section:nth-child(1)>section>div>button:hover span{
    width: 100%;

}

main>section:nth-child(1)>section>div>button:hover{
    border: none;
}

#ani1{
    animation: blinker 1s step-start infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/*---------------------------------*/

main>section>section:nth-child(2){
    position: relative;
}

main>section>section:nth-child(2)>dl{

    position: absolute;
    width: 50%;
    height: 200px;
    left: -68px;
    right: 509px;
    top: 516px;
    margin: auto
}


main>section>section:nth-child(2)>dl>ul>li{
    color: white;
    list-style: none;
    text-align: center;
    font-size: 15px;
    padding: 13px 10px;
    margin: 20px 1px;
    line-height: 26px;

    font-family: "Sitka Small";
}

.bold{
    color: red;
    font-size: 18px;
}

.Uni{
    /*border-bottom: none !important;*/
    color: red;
    text-decoration: none !important;

    font-size: 18px;
}

.class1{
    text-decoration: none;
    color: red;
    font-size: 17px;
    text-transform: uppercase;
}



/*====================Ending=========================================================*/

/*..................................HOME PAGE CSS PART ENDING..............................*/
/*=========================================================================================*/
/*=========================================================================================*/
/*............................GALLERY PAGE CSS PART STARTING...............................*/


main>section:nth-child(2){
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: SansSerif;

}

.input{
    display: none;

}

.container{
    width: 100%;
    text-align: center;
}


main>section:nth-child(2)>section>h1{
    position: relative;
    font-size: 35px;
    font-weight: normal;

    margin: 40px 0;
}

main>section:nth-child(2)>section>h1:before{
    content: '';
    position: absolute;
    width: 100px;
    height: 4px;
    background-color: #ff0000;
    bottom: -10px;
    left: 47%;
    transform: translateX(-53px);

    animation: gallery 4s linear infinite;
}

@keyframes gallery {
    0%{
        width: 100px;
    }50%{
        width: 200px;
    }100%{
        width: 100px;
}

}

.top-content{
    background-color: #ffffff;
    width: 90%;
    margin: 0 auto 20px auto;


    height: 60px;
    display: flex;
    align-items: center;

    border-radius: 8px;
    box-shadow: 5px 8px 7px #403a39;
}

main>section:nth-child(2)>section>div>h3{
    height: 100%;
    background-color: #3c2323;;
    line-height: 60px;
    padding: 0 50px;
    color: white;
}

main>section:nth-child(2)>section>div>label{
    display: inline-block;
    height: 100%;
    padding: 0 5px;
    margin: 0 13px;
    line-height: 60px;

    font-size: 18px;
    color: gray;

    cursor: pointer;

    transition: color 0.5s;
}

main>section:nth-child(2)>section>div>label:hover{
    color: #f50000;
    font-weight: bold;

}
.Photo-Gallery{
    width: 90%;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}

.Pic img{
    width: 100%;
    height: 100%;

    border-radius: 10px;

    transition: 0.5s;
}

.Pic {
    position: relative;
    height: 301px;
    border-radius: 5px;
    box-shadow: 6px -3px 10px black;
    cursor: pointer;
    transition: .5s;
}

.Pic::before{
    content: 'View';
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50px);
    color: #ffffff;

    font-size: 20px;
    font-weight: bold;
    width: 100%;
    font-family: "Lucida Sans";

    margin-top: -100px;
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.2s;

    z-index: 1;
}

.Pic::after{
    content: '';
    text-align: center;
    color: #ffffff;

    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    height: 0%;
    background-color: rgba(0,-0,0,0.4);

    transition: 0.3s;

}

.Pic:hover::after{
    height: 200px;
}

.Pic:hover::before{
margin-top: 0;
    opacity: 1;
}

#P1:checked ~ .container .Photo-Gallery .Pic{
    opacity:1;
    transform: scale(1);
    position: relative;
    transition: .5s;
}

#P2:checked ~ .container .Photo-Gallery .Mine {
    opacity:1;
    transform: scale(1);
    position: relative;
}

#P2:checked ~ .container .Photo-Gallery .Projects,
#P2:checked ~ .container .Photo-Gallery .University,
#P2:checked ~ .container .Photo-Gallery .Visiting{
    opacity:0;
    transform: scale(0);
    position: absolute;
    transition: .5s;
}

#P3:checked ~ .container .Photo-Gallery .Projects {
    opacity:1;
    transform: scale(1);
    position: relative;
}

#P3:checked ~ .container .Photo-Gallery .Mine,
#P3:checked ~ .container .Photo-Gallery .University,
#P3:checked ~ .container .Photo-Gallery .Visiting{
    opacity:0;
    transform: scale(0);
    position: absolute;
    transition: .5s;
}

#P4:checked ~ .container .Photo-Gallery .University {
    opacity:1;
    transform: scale(1);
    position: relative;
}

#P4:checked ~ .container .Photo-Gallery .Mine,
#P4:checked ~ .container .Photo-Gallery .Projects,
#P4:checked ~ .container .Photo-Gallery .Visiting{
    opacity:0;
    transform: scale(0);
    position: absolute;
    transition: .5s;
}

#P5:checked ~ .container .Photo-Gallery .Visiting {
    opacity:1;
    transform: scale(1);
    position: relative;
}

#P5:checked ~ .container .Photo-Gallery .Mine,
#P5:checked ~ .container .Photo-Gallery .Projects,
#P5:checked ~ .container .Photo-Gallery .University{
    opacity:0;
    transform: scale(0);
    position: absolute;
    transition: .5s;
}